@charset "UTF-8";
.container-fluid {
	height: 100%;
}
.p-3 {
	height: 100%;
}
.main-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.main-first-row {
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
    white-space: normal;
    text-align: center;

}
.main-first-row-btn {
	width: 230px;
    height: 250px;
    border-radius: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
}
.first-btn{
	background-color: #91cec2;
}
.second-btn{
	background-color: #E7D9EA;
}
.third-btn{
	background-color: #D8C9AF;
}
.fourth-btn{
	background-color: #BBCCC1;
}
.fifth-btn{
	background-color: #E7EFFD;
}
.main-second-row {
	width: 100%;
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;	
    margin:  25px;
    text-align: center;
}
.main-second-row-btn {
	width: 680px;
    height: 470px;
    border-radius: 32px;
    display: flex;
	flex-direction: column;
    font-size: 25px;
    background-color:#EBEBEB;  
    text-align: center;
}
.main-second-row-btn .title {
	margin: 20px 0 20px 20px;
}
.main-second-row-btn .level-content{
	height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.main-second-row-btn .level-content-item{
	width: 160px;
    height: 299px;
    background-color: #D9D9D9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-second-row-btn .regular-content{
    height: 100%;
    margin-top: -20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-second-row-btn .regular-content-item{
	width: 640px;
    height:40px; 
    background-color: #D9D9D9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}