<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.dao.IDataRepository">


	<select id="getDataList" resultType="StudentVO">
/* getDataList */
    select
        student.student_id ||','|| SUBSTR(start_day, 1, 4) || ',' || enroll.subject_id ||','|| enroll.subject_seq ||','|| enroll_id as "stdSbj",
        student.name,
        round(complete_hours/hours * 100) as "rate",
        SYSDATE || ' ' || to_char(SYSDATE, 'hh24:mi:ss') as "sendDt",
        common_code.comn_cd_title as "stateCd"
    from enroll

    inner join student on enroll.student_id = student.student_id
    inner join open on open.subject_id = enroll.subject_id and enroll.subject_seq= open.subject_seq
    inner join subject on subject.subject_id = enroll.subject_id
    left join common_code on common_code.comn_cd = enroll.state_cd
    where subject.support_yn = 'Y' AND enroll.state_cd in('ERL04', 'ERL05' ,'ERL06')

	<!-- 

	  select
       	student.student_id ||','|| SUBSTR(start_day, 1, 4) || ',' || enroll.subject_id ||','|| enroll.subject_seq ||','|| enroll_id as "stdSbj",
     	name as "name",
		round(complete_hours/hours * 100) as "rate",
        enroll.state_cd as "stateCd",
        SYSDATE || ' ' || to_char(SYSDATE, 'hh24:mi:ss') as "sendDt"
	from enroll
	left join student on enroll.student_id = student.student_id
	left join open on open.subject_id = enroll.subject_id
    left join subject on subject.subject_id = enroll.subject_id
	where subject.support_yn = 'Y' AND enroll.state_cd in('ERL04', 'ERL05' ,'ERL06')

	 -->

	</select>
	
	
	
	<select id="getSbjDataList" resultType="SubjectVO">
/* getSbjDataList1 */ 

   select

      open.subject_id || ',' || open.subject_seq as sbj_id_seq,
      subject.subject_title,
      subject.hours,
      open.start_day, 
      open.end_day,
      subject.cost,
      SYSDATE || ' ' || to_char(SYSDATE, 'hh24:mi:ss') as send_dt,
      (select count(*) from enroll e where e.subject_id = open.subject_id and state_cd = 'ERL06' and e.subject_seq= open.subject_seq) as cnt_std
   from open
   left join subject on open.subject_id=subject.subject_id  
   where subject.support_yn = 'Y' and to_date(end_day)  <![CDATA[ < ]]> SYSDATE
	
	</select>
	
	
	
	
</mapper>