<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.dao.IDataRepository">


	<select id="getDataList" parameterType="map" resultType="StudentVO">
		/* getDataList */
		select
            'KOSA01' as agent_id,
            SUBSTR(open.start_day, 1, 4)||','||enroll.subject_id || ',' || enroll.subject_seq ||','|| 
            enroll_id ||','|| student.user_id as std_sbj,
            student.name,
            enroll.complete_hours,
            to_char(SYSDATE, 'yyyyMMdd hh24:mi:ss') as send_dt,
            enroll.state_cd
        from enroll
        inner join student on enroll.student_id = student.student_id
        inner join open on open.subject_id = enroll.subject_id and
        enroll.subject_seq= open.subject_seq
        inner join subject on subject.subject_id = enroll.subject_id
        where subject.support_yn = 'Y' AND enroll.state_cd ='ERL06' AND
        enroll.del_yn='N'
        <if test="startDay != '' and endDay != ''">
            AND open.start_day BETWEEN TO_DATE(#{startDay}) AND TO_DATE(#{endDay})
        </if>     
        <!--  sysdate로 쓰는 것도 가능  -->
        <if test="startDay != '' and endDay == ''">
            AND open.start_day <![CDATA[ >= ]]> TO_DATE(#{startDay})
        </if>   
        <if test="startDay == '' and endDay != ''">
            AND open.start_day <![CDATA[ <= ]]> TO_DATE(#{endDay})
        </if>   
	</select>

	<select id="getSbjDataList" parameterType="map" resultType="OpenVO">
		/* getSbjDataList1 */

		select
			open.subject_id || ',' || open.subject_seq as sbj_id_seq,
			subject.subject_title,
			subject.hours,
			open.start_day,
			open.end_day,
			subject.cost,
			to_char(SYSDATE, 'yyyyMMdd hh24:mi:ss') as send_dt,
			(select count(*) from enroll e where e.subject_id = open.subject_id and
			state_cd = 'ERL06' and e.subject_seq= open.subject_seq) as cnt_std
		from open
		left join subject on open.subject_id=subject.subject_id
		where subject.support_yn = 'Y' and to_date(end_day)  <![CDATA[ < ]]>
		SYSDATE
        <if test="startDay != '' and endDay != ''">
            AND open.start_day BETWEEN TO_DATE(#{startDay}) AND TO_DATE(#{endDay})
        </if>     
        <!--  sysdate로 쓰는 것도 가능  -->
        <if test="startDay != '' and endDay == ''">
            AND open.start_day <![CDATA[ >= ]]> TO_DATE(#{startDay})
        </if>   
        <if test="startDay == '' and endDay != ''">
            AND open.start_day <![CDATA[ <= ]]> TO_DATE(#{endDay})
        </if> 
	</select>

</mapper>