<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.dao.IEnrollRepository">

	<select id="getEnrollList" resultType="EnrollVO">
		SELECT  enroll_id AS "enrollId", 
				e.subject_id AS "subjectId", 
				e.subject_seq AS "subjectSeq", 
				e.student_id AS "studentId", 
				name AS "name", 
        		s.subject_title AS "subjectTitle", 
				e.state_cd AS "stateCd", 
				complete_hours AS "completeHours", 
				e.reg_id AS "regId", 
				e.reg_dt AS "regDt", 
				e.modi_id AS "modiId", 
				e.modi_dt AS "modiDt", 
				e.del_yn AS "delYn", 
				cancel_rs_etc AS "cancelRsEtc", 
        		start_time AS "startTime", 
        		end_time AS "endTime", 
        		start_day AS "startDay", 
        		end_day AS "endDay" 
		FROM ENROLL e 
		LEFT OUTER JOIN STUDENT t 
		ON e.student_id = t.student_id 
        LEFT OUTER JOIN OPEN o 
        ON e.subject_id = o.subject_id 
        LEFT OUTER JOIN SUBJECT s 
        ON e.subject_id = s.subject_id
	</select>
	
	<select id="getProgress" parameterType="String" resultType="String">
		SELECT complete_hours/hours * 100 
		FROM ENROLL e, SUBJECT s 
		WHERE e.subject_id = s.subject_id AND student_id = #{studentId}
	</select>

	<update id="clickCancel" parameterType="map">
		UPDATE ENROLL 
		SET state_cd = 'ERL05' 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="clickDelete" parameterType="map">
		UPDATE ENROLL 
		SET del_yn = 'Y' 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>

</mapper>