<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.dao.IEnrollRepository">

	<select id="getEnrollList" resultType="EnrollVO">
	/* getEnrollList */
		SELECT  enroll_id,
				e.subject_id,
				e.subject_seq,
				e.student_id, 
				name,
        		s.subject_title, 
				e.state_cd, 
				complete_hours,
				e.reg_id,
				e.reg_dt, 
				e.modi_id, 
				e.modi_dt, 
				e.del_yn,
				cancel_rs_etc, 
        		start_time,
        		end_time,
        		start_day,
        		end_day 
		FROM ENROLL e 
		LEFT OUTER JOIN STUDENT t 
		ON e.student_id = t.student_id 
        LEFT OUTER JOIN OPEN o 
        ON e.subject_id = o.subject_id AND e.subject_seq = o.subject_seq 
        LEFT OUTER JOIN SUBJECT s 
        ON e.subject_id = s.subject_id 
        WHERE NOT (e.del_yn ='Y')
	</select>
	
	<select id="getRatioUsingEnrollId" parameterType="String" resultType="int">
	/* getRatioUsingEnrollId */
		SELECT ROUND(complete_hours/hours * 100) 
		FROM ENROLL e, SUBJECT s 
		WHERE e.subject_id = s.subject_id AND enroll_id = #{enrollId} 
		AND NOT (e.del_yn ='Y')
	</select>
	
	<select id="getHours" parameterType="string" resultType="int">
	/* getHours */
		SELECT complete_hours 
		FROM ENROLL 
		WHERE enroll_id = #{enrollId} AND NOT (e.del_yn ='Y')
	</select>
	
	<select id="getCancelList" resultType="CommonCodeVO">
	/* getCancelList */
		SELECT comn_cd, 
		comn_cd_title 
		FROM COMMON_CODE 
		WHERE comn_cd = 'CXL04' OR comn_cd = 'CXL06' OR comn_cd = 'CXL07'
	</select>
	
	<select id="getStudentList" parameterType="StudentVO" resultType="StudentVO">
	/* getStudentList */
		SELECT student_id, 
				name, 
				gender_cd, 
				TO_CHAR(TO_DATE(birth, 'YYYYMMDD'), 'YYYY-MM-DD') AS "birth", 
				email, 
				REGEXP_REPLACE(phone, '(.{3})(.+)(.{4})', '\1-\2-\3') AS "phone", 
				add_do_cd, 
				add_etc,
				position_cd 
		FROM STUDENT 
		WHERE 
		<choose>
			<when test="type != null and type.equals('name')">
				name = #{keyword}
			</when>
			<when test="type != null and type.equals('studentId')">
				UPPER(student_id) = UPPER(#{keyword})
			</when>
		</choose>
	</select>
	
	<select id="getOpenList" parameterType="OpenVO" resultType="OpenVO">
	/* getOpenList */
		<choose>
			<when test="subCor != null and subCor.equals('subject')">
				SELECT o.subject_id, 
						subject_title, 
						o.course_id, 
						course_title, 
						start_day, 
						end_day, 
						start_time, 
						end_time, 
						recruit_start_day, 
						recruit_end_day, 
						recruit_people 
				FROM OPEN o 
				LEFT OUTER JOIN SUBJECT s 
				ON o.subject_id = s.subject_id 
				LEFT OUTER JOIN COURSE c 
				ON o.course_id = c.course_id 
				WHERE o.course_id is NULL AND NOT(o.state_cd ='OPN07') 
				<include refid="subjectKeyword"/>
				<include refid="stateOpen"/>
			</when>
			<when test="subCor != null and subCor.equals('course')">
			    SELECT 
			        o.course_id, 
			        course_title, 
			        min(start_day) AS "startDay", 
			        max(end_day) AS "endDay", 
			        min(recruit_start_day) AS "recruitStartDay", 
			        max(recruit_end_day) AS "recruitEndDay", 
			        max(recruit_people) AS "recruitPeople" 
			    FROM OPEN o 
			    LEFT OUTER JOIN COURSE c 
			    ON o.course_id = c.course_id 
			    GROUP BY (o.course_id, course_title) 
			    HAVING (UPPER(o.course_id) = UPPER(#{kw}) OR REPLACE(course_title, ' ', '') LIKE '%' || #{kw} || '%')
			</when>
		</choose>
	</select>
	
	
	<sql id="stateOpen">
		<if test="openStateCd != null and openStateCd.equals('recruitExpecting')">
			AND o.state_cd = 'OPN01'
		</if>
		<if test="openStateCd != null and openStateCd.equals('recruitOngoing')">
			AND o.state_cd = 'OPN02'
		</if>
		<if test="openStateCd != null and openStateCd.equals('recruitEnd')">
			AND o.state_cd = 'OPN03'
		</if>
		<if test="openStateCd != null and openStateCd.equals('ongoing')">
			AND o.state_cd = 'OPN04'
		</if>
		<if test="openStateCd != null and openStateCd.equals('completion')">
			AND o.state_cd = 'OPN05'
		</if>
	</sql>
	<sql id="subjectKeyword">
		<if test="kw != null">
		AND (UPPER(o.subject_id) = UPPER(#{kw}) OR REPLACE(subject_title, ' ', '') LIKE '%' || #{kw} || '%') 
		</if>
	</sql>
	
	<select id="getMaxEnrollId" resultType="int">
	/* getMaxEnrollId */
		SELECT MAX((SUBSTR(enroll_id, 5, 4))) 
		FROM ENROLL
	</select>
	
	<select id="getSubjectCountByCourse" parameterType="String" resultType="int">
	/* getSubjectCountByCourse */
		SELECT count(subject_id)
		FROM open
		WHERE course_id=#{courseId}
	</select>
	
	<select id="getSubjectInfoByCourse" parameterType="String" resultType="OpenVO">
	/* getSubjectInfoByCourse */
		select 
		    subject_id, 
		    subject_seq 
		from open
		where course_id = #{courseId}
	</select>
	
	<select id="recruitTotalPeople" parameterType="map" resultType="int">
	/* recruitTotalPeople */
		select count(*) 
		from enroll 
		where subject_id=#{subjectId} and subject_seq=#{subjectSeq} 
		<choose>
			<when test="state == 'OPN02'">
				and state_cd = 'ERL01'
			</when>
			<when test="state == 'OPN03'">
				and state_cd = 'ERL03'
			</when>
			<when test="state == 'OPN04'">
				and state_cd = 'ERL04'
			</when>
			<when test="state == 'OPN05'">
				and state_cd = 'ERL06'
			</when>
		</choose>
	</select>
	
	<update id="clickCancel" parameterType="map">
	/* clickCancel */
		UPDATE ENROLL 
		SET state_cd = 'ERL05' 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="clickDelete" parameterType="map">
	/* clickDelete */
		UPDATE ENROLL 
		SET del_yn = 'Y' 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="clickDeleteEnrollByOpen" parameterType="map">
	/* clickDeleteEnrollByOpen */
		UPDATE ENROLL 
		SET del_yn = 'Y' 
		WHERE subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="addHours" parameterType="map">
	/* addHours */
		UPDATE ENROLL 
		SET complete_hours = complete_hours + #{addHours} 
		WHERE enroll_id = #{enrollId}
	</update>
	
	<update id="updateCancelRsCd" parameterType="map">
	/* updateCancelRsCd */
		UPDATE ENROLL 
		SET cancel_rs_cd = #{cancelRsCd} 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="updateCancelRsCdEtc" parameterType="map">
	/* updateCancelRsCd */
		UPDATE ENROLL 
		SET cancel_rs_cd = #{cancelRsCd}, cancel_rs_etc = #{cancelRsEtc} 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="approval" parameterType="map">
	/* approval */
		UPDATE ENROLL 
		SET state_cd = 'ERL03' 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="updateEnrollCancel">
	/* updateEnrollCancel */
		update enroll
		set state_cd = 'ERL05'
		where subject_id IN (select subject_id from open where state_cd = 'OPN07')
		and subject_seq IN (select subject_seq from open where state_cd = 'OPN07')
	</update>
	
	<insert id="addEnroll" parameterType="map">
	/* addEnroll */
		INSERT INTO ENROLL 
		(enroll_id, subject_id, subject_seq, student_id, state_cd, 
		complete_hours, enroll_dt, reg_id, reg_dt, modi_id, modi_dt, 
		del_yn, cancel_rs_cd, cancel_rs_etc) 
		VALUES ('ENRL0' || #{maxEnrollId}, #{subjectId}, #{subjectSeq}, #{studentId}, 'ERL01', 0, 
		TO_CHAR(SYSDATE, 'YYYYMMDD/HH24MISS') ,'mgr1', TO_CHAR(SYSDATE, 'YYYYMMDD/HH24MISS'), NULL, NULL, 'N', NULL, NULL)
	</insert>
	
	<select id="getEnrollDetails" parameterType="String" resultType="EnrollVO">
	/*getEnrollDetails*/
		SELECT
		    enroll_id, 
		    stu.user_id, 
		    e.state_cd, 
		    complete_hours, 
		    e.reg_dt, 
		    TO_CHAR(TO_DATE(SUBSTR(enroll_dt, 1, 8), 'YYYYMMDD'), 'YYYY-MM-DD') AS enroll_dt, 
		    e.subject_id, 
		    e.subject_seq, 
		    sub.subject_title, 
		    o.course_id, 
		    c.course_title, 
		    level_cd, 
		    days, 
		    hours, 
		    TO_CHAR(TO_DATE(start_day, 'YYYYMMDD'), 'YYYY-MM-DD') AS start_day, 
		    TO_CHAR(TO_DATE(end_day, 'YYYYMMDD'), 'YYYY-MM-DD') AS end_day, 
		    TO_CHAR(TO_DATE(recruit_start_day, 'YYYYMMDD'), 'YYYY-MM-DD') AS recruit_start_day, 
		    TO_CHAR(TO_DATE(recruit_end_day, 'YYYYMMDD'), 'YYYY-MM-DD') AS recruit_end_day, 
		    recruit_people, 
		    o.state_cd AS open_state_cd, 
		    sub.cat_cd AS cat_subject_cd, 
		    e.student_id, 
		    name, 
		    TO_CHAR(TO_DATE(birth, 'YYYYMMDD'), 'YYYY-MM-DD') AS birth, 
		    gender_cd, 
		    email, 
		    REGEXP_REPLACE(phone, '(.{3})(.+)(.{4})', '\1-\2-\3') AS phone, 
		    add_do_cd, 
		    add_etc, 
		    position_cd, 
		    cancel_rs_etc 
		FROM ENROLL e 
		INNER JOIN SUBJECT sub 
		ON e.subject_id = sub.subject_id 
		INNER JOIN STUDENT stu 
		ON e.student_id = stu.student_id 
		LEFT JOIN OPEN o 
		ON e.subject_id = o.subject_id and e.subject_seq = o.subject_seq 
		LEFT JOIN COURSE c 
		ON o.course_id = c.course_id 
		WHERE enroll_id = #{enrollId}
	</select>
	
</mapper>