<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.dao.IEnrollRepository">

	<select id="getEnrollList" resultType="EnrollVO">
		SELECT  enroll_id AS "enrollId", 
				e.subject_id AS "subjectId", 
				e.subject_seq AS "subjectSeq", 
				e.student_id AS "studentId", 
				name AS "name", 
        		s.subject_title AS "subjectTitle", 
				e.state_cd AS "stateCd", 
				complete_hours AS "completeHours", 
				e.reg_id AS "regId", 
				e.reg_dt AS "regDt", 
				e.modi_id AS "modiId", 
				e.modi_dt AS "modiDt", 
				e.del_yn AS "delYn", 
				cancel_rs_etc AS "cancelRsEtc", 
        		start_time AS "startTime", 
        		end_time AS "endTime", 
        		start_day AS "startDay", 
        		end_day AS "endDay" 
		FROM ENROLL e 
		LEFT OUTER JOIN STUDENT t 
		ON e.student_id = t.student_id 
        LEFT OUTER JOIN OPEN o 
        ON e.subject_id = o.subject_id AND e.subject_seq = o.subject_seq 
        LEFT OUTER JOIN SUBJECT s 
        ON e.subject_id = s.subject_id 
        WHERE NOT (e.del_yn ='Y')
	</select>
	
	<select id="getRatio" parameterType="map" resultType="string">
		SELECT ROUND(complete_hours/hours * 100) 
		FROM ENROLL e, SUBJECT s 
		WHERE e.subject_id = s.subject_id AND student_id = #{studentId} AND e.subject_id = #{subjectId} AND subject_seq = #{subjectSeq} 
	</select>
	
	<select id="getCancelList" resultType="CommonCodeVO">
		SELECT comn_cd AS "comnCd", 
		comn_cd_title AS "comnCdTitle" 
		FROM COMMON_CODE 
		WHERE comn_cd = 'CXL04' OR comn_cd = 'CXL05' 
		OR comn_cd = 'CXL06' OR comn_cd = 'CXL07'
	</select>
	
	<select id="getStudentList" parameterType="StudentVO" resultType="StudentVO">
		SELECT student_id AS "studentId", 
				name AS "name", 
				birth AS "birth", 
				email AS "email", 
				phone AS "phone" 
		FROM STUDENT 
		WHERE 
		<choose>
			<when test="type != null and type.equals('name')">
				name = #{keyword}
			</when>
			<when test="type != null and type.equals('studentId')">
				student_id = #{keyword}
			</when>
		</choose>
	</select>
	
	<select id="getOpenList" parameterType="OpenVO" resultType="OpenVO">
		SELECT o.subject_id AS "subjectId", 
				subject_seq AS "subjectSeq", 
				subject_title AS "subjectTitle", 
				o.course_id AS "courseId", 
				start_day AS "startDay", 
				end_day AS "endDay", 
				start_time AS "startTime", 
				end_time AS "endTime", 
				recruit_start_day AS "recruitStartDay", 
				recruit_end_day AS "recruitEndDay", 
				recruit_people AS "recruitPeople" 
		FROM OPEN o 
		LEFT OUTER JOIN SUBJECT s 
		ON o.subject_id = s.subject_id 
		LEFT OUTER JOIN COURSE c 
		ON o.course_id = c.course_id 
		WHERE
		<choose>
			<when test="subCor != null and subCor.equals('subject')">
				(subject_title = #{kw} OR REPLACE(subject_title, ' ', '') LIKE '%' || #{kw} || '%') AND o.course_id is NULL
			</when>
			<when test="subCor != null and subCor.equals('course')">
				course_title = #{kw} OR REPLACE(course_title, ' ', '') LIKE '%' || #{kw} || '%'
			</when>
		</choose>
	</select>

	<update id="clickCancel" parameterType="map">
		UPDATE ENROLL 
		SET state_cd = 'ERL05' 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="clickDelete" parameterType="map">
		UPDATE ENROLL 
		SET del_yn = 'Y' 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="addHours" parameterType="map">
		UPDATE ENROLL 
		SET complete_hours = complete_hours + #{addHours} 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="updateCancelRsCd" parameterType="map">
		UPDATE ENROLL 
		SET cancel_rs_cd = #{cancelRsCd}, cancel_rs_etc = #{cancelRsEtc} 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>
	
	<update id="approval" parameterType="map">
		UPDATE ENROLL 
		SET state_cd = 'ERL03' 
		WHERE student_id = #{studentId} AND subject_id = #{subjectId} AND subject_seq = #{subjectSeq}
	</update>

</mapper>