<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.dao.IStudentRepository">
	
	<select id="getStudentList" resultType="StudentVO">
	       /* getStudentList */
 

        select 
            name,
            student_id,
            email,
            to_char(to_date(birth), 'YYYY/MM/DD'),
            common_code.comn_cd_title
        from student
        left join common_code on student.position_cd = common_code.comn_cd

	</select>
	
	
	
	

</mapper>