<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.dao.ISubjectRepository">
	
	<select id="selectCourseList" resultType="SubjectVO">
		/*selectCourseList*/
		select DISTINCT
			open.course_id, 
			course_title,
			min(start_day) over (partition by open.course_id) as "startDay",
    		max(end_day) over (partition by open.course_id) as "endDay",
			sum(cost) over (partition by open.course_id) as "cost",
			recruit_start_day, 
			recruit_end_day,
			state_cd as "state",
			comn_cd_title
		from open 
				left join subject on open.subject_id = subject.subject_id
        		left join course on open.course_id = course.course_id
        		left join common_code on open.state_cd = common_code.comn_cd
        where open.course_id IS NOT NULL and del_yn = 'N'
	</select>
	
	<select id="selectSubjectList" resultType="SubjectVO">
		/*selectSubjectList*/
		select 
			open.subject_id, 
			subject_seq,
			subject_title,
			support_yn, 
			days, 
			hours, 
			level_cd as "level", 
			level_etc, 
			subject.cost,
			open.course_id, 
			course.course_title, 
			start_time,
			end_time,
			start_day,
			end_day, 
			recruit_start_day, 
			recruit_end_day,
			recruit_people,
			state_cd as "state",
			comn_cd_title,
			file_id
		from open 
				left join subject on open.subject_id = subject.subject_id
        		left join course on open.course_id = course.course_id
        		left join common_code on open.state_cd = common_code.comn_cd
        where del_yn = 'N'
        order by start_day, end_day
	</select>

	<select id="selectSubjectDetails" parameterType="map" resultType="SubjectVO">
		/*selectSubjectDetails*/
		select 
			open.subject_id, 
			subject_seq,
			subject_title,
			support_yn, 
			days, 
			hours, 
			level_cd as "level", 
			level_etc, 
			subject.cost,
			open.course_id, 
			course.course_title, 
			subject.cat_cd as "cat", 
			content,
			TO_CHAR(TO_TIMESTAMP(start_time, 'HH24:MI'),'HH24:MI') as start_time,
			TO_CHAR(TO_TIMESTAMP(end_time, 'HH24:MI'),'HH24:MI') as end_time,
			TO_CHAR(TO_DATE(start_day,'YYYY-MM-DD'), 'YYYY-MM-DD') as start_day,
			TO_CHAR(TO_DATE(end_day,'YYYY-MM-DD'), 'YYYY-MM-DD') as end_day,
			TO_CHAR(TO_DATE(recruit_start_day,'YYYY-MM-DD'), 'YYYY-MM-DD') as recruit_start_day,
			TO_CHAR(TO_DATE(recruit_end_day,'YYYY-MM-DD'), 'YYYY-MM-DD') as recruit_end_day,
			recruit_people,
			state_cd as "state",
			comn_cd_title,
			upload_file.file_id, 
			file_name, 
			file_size, 
			file_content_type			
		from open 
				left join subject on open.subject_id = subject.subject_id
        		left join course on open.course_id = course.course_id
        		left join common_code on open.state_cd = common_code.comn_cd
        		left join upload_file on open.file_id = upload_file.file_id
        where open.subject_id = #{subjectId} and subject_seq=#{subjectSeq}
	</select>
	
	<update id="updateSubject" parameterType="SubjectVO">
		/*updateSubject*/
		update open
		set 
    		start_day = TO_CHAR(TO_DATE(#{startDay},'YYYY-MM-DD'), 'YYYYMMDD'), 
    		end_day = TO_CHAR(TO_DATE(#{endDay},'YYYY-MM-DD'), 'YYYYMMDD'), 
    		start_time = TO_CHAR(TO_TIMESTAMP(#{startTime},'HH24:MI'),'HH24MI'), 
    		end_time = TO_CHAR(TO_TIMESTAMP(#{endTime},'HH24:MI'),'HH24MI'), 
    		recruit_start_day = TO_CHAR(TO_DATE(#{recruitStartDay},'YYYY-MM-DD'), 'YYYYMMDD'), 
    		recruit_end_day = TO_CHAR(TO_DATE(#{recruitEndDay},'YYYY-MM-DD'), 'YYYYMMDD'), 
    		recruit_people = #{recruitPeople},
    		content = #{content}, state_cd = #{state}, file_id=#{fileId}, 
    		modi_id='mgr2', modi_dt=TO_CHAR(SYSDATE, 'YYYYMMDD')
		where subject_id = #{subjectId} and subject_seq = #{subjectSeq}
	</update>
	
	<update id="updateFileData" parameterType="UploadfileVO">
		/*updateFileData*/
		update upload_file
		set
			file_name=#{fileName}, file_size=#{fileSize}, file_content_type=#{fileContentType}, file_data=#{fileData},
			modi_id='mgr2', modi_dt=TO_CHAR(SYSDATE, 'YYYYMMDD')
		where 
			file_id=#{fileId}
	</update>
	
	<select id="getFile" parameterType="String" resultType="UploadfileVO">
		/*getFile*/
		select 
				file_id, 
				file_name, 
				file_size,
				file_content_type, 
				file_data
		from upload_file
		where file_id = #{fileId}
	</select>
	
	<select id="selectMaxFileId" resultType="String">
		/*selectMaxFileId*/
		select max(file_id)
		from upload_file
	</select>
	
	<insert id="insertSubject" parameterType="SubjectVO">
		/*insertSubject*/
		<choose>
			<when test="fileId != null">
				insert into open 
						(subject_id, subject_seq, course_id, file_id, content, start_time, end_time, start_day, end_day, recruit_start_day, recruit_end_day,
                		recruit_people, state_cd, reg_id, reg_dt, del_yn)
				values 
						(#{subjectId},SEQ_SUBJECT.NEXTVAL,#{courseId}, #{fileId}, #{content},
						TO_CHAR(TO_TIMESTAMP(#{startTime},'HH24:MI'),'HH24MI'),
						TO_CHAR(TO_TIMESTAMP(#{endTime},'HH24:MI'),'HH24MI'),
						TO_CHAR(TO_DATE(#{startDay},'YYYY-MM-DD'), 'YYYYMMDD'),
						TO_CHAR(TO_DATE(#{endDay},'YYYY-MM-DD'), 'YYYYMMDD'), 
						TO_CHAR(TO_DATE(#{recruitStartDay},'YYYY-MM-DD'), 'YYYYMMDD'), 
						TO_CHAR(TO_DATE(#{recruitEndDay},'YYYY-MM-DD'), 'YYYYMMDD'),
						#{recruitPeople},#{state}, 'mgr1', TO_CHAR(SYSDATE, 'YYYYMMDD'), 'N')
			</when>
			<otherwise>
				insert into open 
						(subject_id, subject_seq, course_id, content, start_time, end_time, start_day, end_day, recruit_start_day, recruit_end_day,
                		recruit_people, state_cd, reg_id, reg_dt, del_yn)
				values 
						(#{subjectId},SEQ_SUBJECT.NEXTVAL,#{courseId}, #{content},
						TO_CHAR(TO_TIMESTAMP(#{startTime},'HH24:MI'),'HH24MI'),
						TO_CHAR(TO_TIMESTAMP(#{endTime},'HH24:MI'),'HH24MI'),
						TO_CHAR(TO_DATE(#{startDay},'YYYY-MM-DD'), 'YYYYMMDD'),
						TO_CHAR(TO_DATE(#{endDay},'YYYY-MM-DD'), 'YYYYMMDD'), 
						TO_CHAR(TO_DATE(#{recruitStartDay},'YYYY-MM-DD'), 'YYYYMMDD'), 
						TO_CHAR(TO_DATE(#{recruitEndDay},'YYYY-MM-DD'), 'YYYYMMDD'),
						#{recruitPeople},#{state}, 'mgr1', TO_CHAR(SYSDATE, 'YYYYMMDD'), 'N')
			</otherwise>
		</choose>
	</insert>
	
	<insert id="insertFileData" parameterType="UploadfileVO">
		/*insertFileData*/
		insert into upload_file 
			(file_id, file_name, file_size, file_content_type, file_data, reg_id, reg_dt, del_yn)
		values(#{fileId}, #{fileName}, #{fileSize}, #{fileContentType}, #{fileData}, 'mgr1', TO_CHAR(SYSDATE, 'YYYYMMDD'), 'N')
	</insert>
	
	<select id="selectAllCourse" resultType="SubjectVO">
		/*selectAllCourse*/
		select 
			course_id, 
			course_title
		from course
	</select>
	
	<select id="selectAllSubject" resultType="SubjectVO">
		/*selectAllSubject*/
		select 
			subject_id, 
			subject_title
		from subject
	</select>
	
	<select id="infoSubject" parameterType="String" resultType="SubjectVO">
		/*infoSubject*/
		select 
				subject_id,
				subject_title, 
				support_yn, 
				cat_cd as "catSubject", 
				days, 
				hours, 
				level_cd as "level", 
				level_etc, 
				cost
		from subject 
		where subject_id= #{subjectId}
	</select>
	
	<select id="infoOpenCourse" parameterType="String" resultType="SubjectVO">
		/*infoOpenCourse*/
		select DISTINCT 
						course_id, 
						min(start_day) over (partition by course_id) as "startDay", 
						max(end_day) over (partition by course_id) as "endDay", 
						recruit_start_day, 
						recruit_end_day
		from open
		where course_id = #{courseId} and del_yn = 'N'
	</select>
	
	<select id="checkOpenCourse" parameterType="String" resultType="int">
		/*checkOpenCourse*/
		select count(*) 
		from open 
		where course_id = #{courseId} and del_yn = 'N' and state_cd <![CDATA[ <> ]]> 'OPN07'
	</select>
	
	<update id="updateRecruitSameCourse" parameterType="SubjectVO">
		/*updateRecruitSameCourse*/
		update open
		set 
			recruit_start_day = TO_CHAR(TO_DATE(#{recruitStartDay},'YYYY-MM-DD'), 'YYYYMMDD'),
			recruit_end_day = TO_CHAR(TO_DATE(#{recruitEndDay},'YYYY-MM-DD'), 'YYYYMMDD'),
			state_cd=#{state}
		where course_id = #{courseId} and del_yn = 'N' and state_cd <![CDATA[ <> ]]> 'OPN07'
	</update>
	
	<update id="clickDeleteOpen" parameterType="map">
		/*clickDeleteOpen*/
		update open
		set del_yn = 'Y'
		where subject_id = #{subjectId} and subject_seq = #{subjectSeq}
	</update>
	
	<update id="clickDeleteUploadFile" parameterType="map">
		/*clickDeleteUploadFile*/
		update upload_file
		set del_yn = 'Y'
		where file_id = #{fileId}
	</update>
	
	<update id="closeSubject" parameterType="map">
		/*closeSubject*/
		update open 
		set state_cd = 'OPN07' 
		where subject_id = #{subjectId} and subject_seq = #{subjectSeq} 
	</update>
	
	<select id="selectSubjectByCourseId" parameterType="String" resultType="SubjectVO">
		/*selectSubjectByCourseId*/
		select subject_id
		from open 
		where course_id = #{courseId} and del_yn = 'N' and state_cd <![CDATA[ <> ]]> 'OPN07'
	</select>
	
	<select id="searchSubject" parameterType="SubjectVO" resultType="SubjectVO">
		select subject_id, subject_title, support_yn, cat_cd as cat_subject, days, hours, level_cd, level_etc, cost, reg_year
		from subject
			
	</select>
	
	<select id="selectOpenSubjectByCourseIdAndYear" parameterType="map" resultType="OpenVO">
	/*selectOpenSubjectByCourseIdAndYear*/
		SELECT *
		FROM open
		WHERE course_id = #{courseId}
		AND substr(reg_dt,1,4) = #{year}
		AND del_yn = 'N' AND state_cd != 'OPN07'
	</select>
	
</mapper>