<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.dao.ISurveyRepository">

<select id="getAnswerValue" parameterType="map" resultType="AnswerVO">
select	subject_id as "subjectId",
		subject_seq as "subjectSeq",
		question_num as "questionNum",
		answer_value as "answerValue",
		count_answer_value as "countAnswerValue"
from (
    select
        case grouping(subject_id) when 1 THEN 'total' else subject_id end as subject_id,
        case grouping(subject_seq) when 1 THEN 99999 ELSE subject_seq end as subject_seq,
        case grouping(answer_value) when 1 then 99999 else answer_value end as answer_value,
        case grouping(question_num) when 1 then 99999 else question_num end as question_num,
        count(answer_value) as count_answer_value
    from    answer
    where subject_id=#{subjectId} and subject_seq=#{subjectSeq}
    group by rollup((subject_id, subject_seq), answer_value, question_num)
    )
where question_num=#{questionNum} and answer_value=#{answerValue}
</select>


</mapper>