@charset "UTF-8";
.container-fluid {
	height: 100%;
}
.p-3 {
	height: 100%;
}
.main-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.main-first-row {
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
    white-space: normal;

}
.main-first-row-btn {
    width: 259px;
    height: 250px;
    border-radius: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    margin: 25px;
}
.first-btn{
	background-color: #91cec24f;
}
.second-btn{
	background-color: #e7d9ea73;
}
.third-btn{
	background-color: #ffe8a94f;
}
.fourth-btn{
	background-color: #ffb7b838;
}
.fifth-btn{
	background-color: #e7effdd6;
}
.main-second-row {
	width: 100%;
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;	

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;

}
.main-second-row-btn {
	width: 680px;
    height: 470px;
    border-radius: 32px;
    display: flex;
	flex-direction: column;
    font-size: 25px;
    background-color:#ebebeb6b;  
    text-align: center;
}
.main-second-row-btn .title {
	margin: 20px 0 20px 20px;
}
.main-second-row-btn .level-content{
	height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.main-second-row-btn .level-content-item{
	width: 180px;  
    height: 299px; 
    background-color: #d9d9d96b;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-second-row-btn .regular-content{
    height: 100%;
    margin-top: -20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-second-row-btn .regular-content-item{
	width: 640px;
    height:100px; 
    background-color: #d9d9d96b;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
#first_image {
    position: relative;
    top: -51px;
    right: 80px; 
    bottom: 300px;
    left: 66px; 
    border-radius: 50%;
    border: 4px solid white;
    width: 100px;
    height: 100px;
} 
#first_image_forth {
    position: relative;
    top: -51px;
    right: 80px;
    bottom: 300px;
    left: 108px;
    border-radius: 50%;
    border: 4px solid white;
    width: 100px;
    height: 100px;
}
#first_image_fifth {
    position: relative;
    top: -51px;
    right: 80px;
    bottom: 300px;
    left: 69px;
    border-radius: 50%;
    border: 4px solid white;
    width: 100px;
    height: 100px;
}
#second_image {
    width: 180px; 
    height: 100px; 
    margin: 10px;

}
#course_image {
    width: 40px;
    height: 40px;
}
#category_image{
    width: 40px;
    height: 40px;
}
.regular-content-item {
    justify-content: center;
}
.level-content-item{
    width: 180px; 
    height: 299px;
}
a{
    text-align: center;
}
.main-first-row { text-align: center;}