.aside-bar {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.aside-bar-menu{
	background-color: #053863;
    height: 150px;
    width: 100%;
    padding: 25px;
    align-items: center;
    display: flex;
    font-size: 30px;
}
.menu-text{
	font-size: 38px;
    color: #fff;
    margin: auto;
}
.submenu-items{
	border-bottom: 1px solid #e8e8e8;
	padding-left: 10px;
}
.clicked {
	color:#053863;
}
.aside-bar-submenu{
	background-color: #FFFFFF;
    width: 100%;
    padding: 15px;
    margin: 20px;
    margin-top: 0px;
    line-height: 49px;
}