@charset "UTF-8";
.card-body {
    font-size: 14px;
}
.subject_course_title {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #bababa;
}

.subject_course_title .title-input {
    width: 100%;
}

.subject_course_title th,
td {
    padding: 5px;
}

.basic_txt_color {
    color: #666;
}

.sub_title {
    border: 2px solid #1A54CD;
    border-radius: 15px;
    height: 38px;
    padding: 5px 12px;
    margin: 0px 25px;
    display: inline-block;
    font-size: 17px;
}

.course_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.course_state {
    color: #FFFFFF;
    border-radius: 40px;
    background-color: #1A54CD;
    margin: 10px;
    padding: 5px 10px;
    display: inline-block;
}

.no-image {
    text-align: center;
    color: gray;
}

.list {
    width: 100%;
    margin: 20px 0;
}

tr {
    height: 40px;
}

table .detail_img {
    max-width: 90%;
    max-height: 330px;
}

.course_intro {
    display: flex;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    padding: 20px 0px;
    margin-bottom: 40px;

}

.course_intro .txt {
    color: #666;
    padding: 0 0 0 30px;
    line-height: 28px;
    border-left: 1px dotted #e1e1e1;
    min-height: 100px;
    display: inline-flex;
    align-items: center;
}
.support {
	color: cornflowerblue;
    font-size: 12px;
}

.content{
    width: 100%;
    height: 155px;
 }
 .write-txt::after{
     content: "*";
     color: #ed8264;
     margin-left: 2px;
 }
 
 .content-image {
    text-align: center;
 }