.card-body {
	margin-top: 50px;
}



.enroll-detail-table {
    line-height: 45px;
    width: 100%;
    margin-bottom: 23px;
    box-shadow: 0px 1px 13px 0px #80808036;
}

.enroll-detail-table .info {
    text-align : center;
    background-color: #aad4ff;
}

.enroll-detail-table th {
    border: 1px solid #e9ebf0;
    background-color: #f8f9fd;
    padding-left:10px;
}

.enroll-detail-table td {
    border: 1px solid #e9ebf0;
    padding-left:10px;
}

.add-hours-form {
	text-align: left;
	display: inline;
}

.add-hours-input {
	width: 60px;
    height: 30px;
}

#add-hours-submit {
    font-size: 10px;
    height: 30px;
    background-color: #6c757d;
    color: #fff;
    position: relative;
    left: 10px;
}

.add-hours-table th {
    border: 1px solid #e9ebf0;
    background-color: #aad4ff;
    padding-left:10px;
    color: #000;
}

.add-hours-table .add-hours-input {
    width: 80%;
}

.hours-ratio{
	text-align: center;
    color: #fff;
}

.all-table{
	text-align : center;
}

.btn {
	background-color: #003964;
	color: #fff;
}

#cancel-details {
	width: 15%;
}

.enroll-detail-table tr{
	font-size: 11px;
}

#back-btn {
	font-size: 13px;
}