.enroll-detail-table {
    line-height: 45px;
    width: 100%;
    margin-bottom: 23px;
}

.enroll-detail-table .info {
    text-align : center;
}

.enroll-detail-table th {
    border: 1px solid #e9ebf0;
    background-color: #f8f9fd;
    padding-left:10px;
}

.enroll-detail-table td {
    border: 1px solid #e9ebf0;
    padding-left:10px;
}