.card-body {
	margin-top: 50px;
}

.enroll-detail-table {
    line-height: 45px;
    width: 100%;
    margin-bottom: 23px;
    box-shadow: 0px 1px 13px 0px #80808036;
}

.enroll-detail-table .info {
    text-align : center;
    background-color: #aad4ff;
    font-size: 16px;
}

.enroll-detail-table th {
    border: 1px solid #e9ebf0;
    background-color: #f8f9fd;
    padding-left:10px;
}

.enroll-detail-table td {
    border: 1px solid #e9ebf0;
    padding-left: 10px;
}

.add-hours-form {
	text-align: left;
	display: inline;
}

.add-hours-input {
	width: 60px;
    height: 30px;
}

.btn-secondary {
    position: relative;
    left: 10px;
    height: 30px;
    line-height: normal;
}

.add-hours-table th {
    border: 1px solid #e9ebf0;
    background-color: #aad4ff;
    padding-left:10px;
    color: #000;
}

.add-hours-table .add-hours-input {
    width: 80%;
}

.hours-ratio{
	text-align: center;
    color: #fff;
}

.all-table{
	text-align : center;
}

.enroll-detail-table tr{
	font-size: 14px;
}

#hour-column {
	text-align: left;
	width: 350px;
}

#title {
	width: 130px;
}

.content0 {
	width: 250px;
}

.content1{
	width: 150px;
}

.content2, .content3 {
	width: 300px;
}

.content4 {
	width: 150px;
}

.content5 {
	width: 140px;
}

.content6 {
	width: 120px;
}

.hour-info {
	position: relative;
    left: 27px;
    bottom: 9px;
    display: inline;
}

.hour-details {
	color: cornflowerblue;
	height: 20px;
	display: inline;
	position: relative;
    right: 15px;
    top: 10px;
}

.no-add-hours {
	display: inline;
}

.reset-btn {
	margin-top: 20px;
}