@charset "UTF-8";

.a {
	list-style: none;
	width: 50%;
	margin-top: 20px;
	display: flex;
}

.wrap {
    width: 98%;
    height: 240px;
    border: 1px solid #bababa;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 32px;
}

.search-box {
	text-align: center;
	height: 50px;
	margin-top: 23px;
	display:flex;
	justify-content: center;
    width: 100%;
}

.search-content {
	width: 100%;
}

input {
	width: 100px;
	height: 45px;
	border-radius: 8px;
}

.submit-btn {
	text-align: center;
	margin-top: 50px;
}

.a li::before {
	content: url("https://www.moe.go.kr/img/2021Renewal/common/list_bul_1.svg");
}

.a li {
	width: 400px;
}

.user-info {
	position: relative;
	left: 120px;
}

.user-info2 {
	position: relative;
}

.course-info {
	position: relative;
	left: 40px;
}

.course-info2 {
	position: relative;
	left: 10px;
}

.search {
	display: inline;
}

.search-in {
	width: 30%;
	height: 40px;
	position: relative;
	bottom: 10px;
}

.btn {
	background-color: #003964;
	color: #fff;
}

.btn {
	position: relative;
	bottom: 10px;
}

.name {
	position: relative;
	bottom: 10px;
}

.sel {
	position: relative;
	bottom: 10px;
	height: 30px;
}

.sc {
	position: relative;
	bottom: 10px;
	height: 40px;
	border-radius: 8px;
}

.rs2 {
	margin-top: 40px;
}

table>tr {
	font-size: 14px;
	text-align: center;
}

.search2 {
	width: 100%;
}

.sc2 {
	position: relative;
	height: 40px;
	border-radius: 8px;
	text-align: center;
	bottom: 1px;
}

.tb {
	width: 100%;
	margin: 0px auto;
	margin-top: 20px;
	border: 2px solid #bababa;
}

.tb tr {
	border-bottom: 1px solid #e8e8e8;
	height: 40px;
}

li::before {
	content: url("https://www.moe.go.kr/img/2021Renewal/common/list_bul_1.svg");
}

li {
	list-style: none;
}

.stu {
	margin-top: 15px;
}

.check-subject {
	width: 20px;
	height: 20px;
}

.search-popup {
	display: inline;
}

#subjectTitle-input,
#courseTitle-input,
#studentTitle-input {
	height: 40px;
	width: 60%;
}

.btn2 {
	background-color: #003964;
	color: #fff;
	width: 100px;
	height: 40px;
	border-radius: 8px;
}

.btn3 {
	background-color: #003964;
	color: #fff;
	width: 100px;
	height: 40px;
	border-radius: 8px;
	position: relative;
	bottom: 2px;
}

.subjectdetails, .courselist {
	width: 98%;
	text-align: center;
	margin-top: 10px;
}

#studentTitle-input, #subjectTitle-input, #courseTitle-input {
	text-align: center;
}

#studentTitle-input {
	position: relative;
	bottom: 10px;
}

.course-th, .subject-th {
	background-color: #f8f9fd;
}

.insert-list {
	display: flex;
    justify-content: center;
}