@charset "UTF-8";

.a {
	list-style: none;
	width: 50%;
	margin-top: 20px;
	display: flex;
}

.wrap {
    width: 98%;
	min-height: 240px;
    padding-bottom: 38px;
    border: 1px solid #bababa;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 32px;
	font-size: 14px;
}

.search-box {
	text-align: center;
	height: 50px;
	margin-top: 23px;
	display:flex;
	justify-content: center;
    width: 100%;
}

.search-content {
	width: 100%;
}

.a li::before {
	content: url("https://www.moe.go.kr/img/2021Renewal/common/list_bul_1.svg");
}

.a li {
	width: 400px;
}

.user-info {
	position: relative;
	left: 120px;
}

.user-info2 {
	position: relative;
}

.course-info {
	position: relative;
	left: 40px;
}

.course-info2 {
	position: relative;
	left: 10px;
}

.search {
	display: inline;
}

.search-in {
	width: 30%;
	height: 40px;
	position: relative;
	bottom: 10px;
}

.sel {
	position: relative;
	bottom: 10px;
	height: 30px;
}

.sc {
	position: relative;
	bottom: 10px;
	height: 40px;
	border-radius: 8px;
}

.rs2 {
	margin-top: 40px;
}

.sc2 {
    height: 36px;
    border-color: #80808047;
    border-radius: 8px;
    width: 103px;
    text-align: center;
}

.tb {
	width: 100%;
	margin: 0px auto;
	margin-top: 20px;
	border: 2px solid #bababa;
}

.tb tr {
	border-bottom: 1px solid #e8e8e8;
	height: 40px;
}

li::before {
	content: url("https://www.moe.go.kr/img/2021Renewal/common/list_bul_1.svg");
}

li {
	list-style: none;
}

.stu {
	margin-top: 15px;
}

.check-subject {
	width: 20px;
	height: 20px;
}

.search-popup {
	display: inline;
}

.title-input {
	height: 35px;
    border-radius: 8px;
    margin: 5px 0px 5px 0;
    padding: 0px 20px 0 20px;
    border: 1px solid #e8e8e8;
    width: 38%;
    text-align: center;
}

.result-table {
	width: 90%;
	text-align: center;
	margin-top: 10px;
	border: 1px solid #e9ebf0;
}

.result-tr {
	font-size: 14px;
	text-align: center;
	height: 45px;
}

.result-th {
	background-color: #f8f9fd;
	padding: 0px 7px;
}

.insert-list {
	display: flex;
    justify-content: center;
}

.name {
	margin-right: 29px;
    padding-left: 28px;
}

