@charset "UTF-8";

.a {
	list-style: none;
	width: 50%;
	margin-top: 20px;
	display: flex;
}

.wrap {
	padding: 17px;
    
    width: 900px;
    height: 500%;
    border: 1px solid #bababa;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
}

.search-box {
	text-align: center;
	background-color: #f7f7f7;
	height: 50px;
}

.search-content {
	padding: 14px;
}

input {
	width: 100px;
	height: 45px;
	border-radius: 8px;
}

.submit-btn {
	text-align: center;
	margin-top: 40px;
}

.a li::before {
	content: url("https://www.moe.go.kr/img/2021Renewal/common/list_bul_1.svg");
}

.a li {
	width: 400px;
}

.user-info {
	position: relative;
	left: 120px;
}

.user-info2 {
	position: relative;
}

.course-info {
	position: relative;
	left: 40px;
}

.course-info2 {
	position: relative;
	left: 10px;
}

.search{
	display: inline;
}

.search-in{
	width: 30%;
	height: 40px;
	position: relative;
	bottom: 10px;
}

.btn{
	background-color: #003964;
	color: #fff;
}

.btn{
	position: relative;
    bottom: 10px;
}

.name{
	position: relative;
    bottom: 10px;
}

.sel{
	position: relative;
    bottom: 10px;
    height: 30px;
}

.sc{
	position: relative;
    bottom: 10px;
    height: 40px;
    border-radius: 8px;
}

.rs2{
	margin-top :40px;
}

table > tr {
	font-size: 14px;
    text-align: center;
}

.search2 {
	display: inline;
}

.sc2{
	position: relative;
    bottom: 10px;
    height: 40px;
    border-radius: 8px;
}

.tb{
	margin: 0px auto;
	border-top: 2px solid #bababa;
}

.tb tr {
	border-bottom: 1px solid #e8e8e8;
    height: 40px;
}

li::before{
	content: url("https://www.moe.go.kr/img/2021Renewal/common/list_bul_1.svg");
}

li{
	list-style : none;
}

.stu{
	margin-top: 15px;
}