@charset "UTF-8";

.input-text {
	width: 350px;
    height: 39px;
    border-radius: 8px;
    margin: 0 10px;
    padding: 3px 20px 0 20px;
    border: 1px solid #e8e8e8;
    position: relative;
    right: 20px;
}

.select-box {
	width: 150px;
    height: 39px;
    border-radius: 8px;
    margin: 0 10px;
    padding: 3px 20px 0 20px;
    border: 1px solid #e8e8e8;
}

.input-date {
	width: 160px;
    height: 39px;
    border-radius: 8px;
    margin: 0 10px;
    padding: 3px 20px 0 20px;
    border: 1px solid #e8e8e8;
}

.input-button {
	margin-top: 7px;
	display: inline-block;
    width: 77px;
    height: 39px;
    border-radius: 8px;
    color: #fff;
    background-color: #003964;
    position: relative;
    left: 392px;
    bottom: 41px;
}

.search {
	text-align: center;
	background-color: #f7f7f7;
	padding-top: 19px;
	height: 125px;
}

.select-view {
	width: 100px;
    height: 34px;
	border-radius: 8px;
    margin: 0 10px;
    padding: 3px 20px 0 20px;
    border: 1px solid #e8e8e8;
}

.view {
	position: relative;
	top: 25px;
	text-align: end;
    margin-top: 15px;
    margin-bottom: 10px;
}

.list {
	width: 100%;
    text-align: center;
    border-top: 2px solid #bababa;
    margin-bottom: 20px;
    font-size: 13px;
}

tr {
	border-bottom: 1px solid #e8e8e8;
	height: 40px;
}
td {
    color: #666;
}

.down {
	text-align: right;
}

.excelimg {
	width: 140px;
    height: 37px;
    position: relative;
    bottom: 15px;
}

.modal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.modal-content {
	width: 410px;
	height: 270px;
  	background-color: #8db2ff;
  	color: #fff;
  	border-radius: 10px;
  	position: relative;
  	top: 50%;
  	left: 50%;
  	margin-top: -100px;
  	margin-left: -200px;
  	text-align: center;
  	box-sizing: border-box;
  	padding: 40px 20px;
  	line-height: 23px;
  	cursor: pointer;
  	text-align: left;
  	list-style: none;
}

.input-time {
	width: 70px;
	height: 40px;
	position: relative;
    left: 130px;
    bottom: 25px;
}

.input-time-btn {
	width: 50px;
	height: 30px;
	position: relative;
	left: 210px;
    bottom: 53px;
    border-radius: 8px;
    color: #fff;
    background-color: #003964;
}

#close-btn {
	text-align: right;
	position: absolute;
    bottom: 260px;
    left: 10px;
}

.close-btn {
	width: 50px;
    height: 30px;
    border-radius: 8px;
    color: #fff;
    background-color: #003964;
    position: absolute;
    top: 220px;
    left: 340px;
}

.paging {
	list-style: none;
	display: inline;
}

.paging li {
	float: left;
	margin: 10px;
}

#paging {
	display: inline;
	position: relative;
	left: 40%;
}

.cancelrs{
	height: 40px;
    border-radius: 8px;
}

.cacelform{
	position: relative;
    top: 30px;
}

.confirm{
	position: absolute;
    top: -57px;
    left: 170px;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    color: #fff;
    background-color: #003964;
}

.rt{
	display : inline;
}

#applyperiod {
	position : relative;
}

.selectstudent{
    position: relative;
    right: 328px;
    margin-top: 3px;
}

.apply-period {
	display : inline;
	text-align : left;
}

.select-subcor{
	display : inline;
	text-align : left;
	position: relative;
    left: 30px;
}

.state{
	display: inline;
    position: relative;
    left: 129px;
    bottom: 45px;
    margin-top: 3px;
}

.input-student {
	position: relative;
    right: 23px;
    width: 195px;
}

.select-stu{
	width: 160px;
	position: relative;
    right: 3px;
}

.input-cancel{
	display: inline;
}
.btn-secondary{
    font-size: 11px;
}

.list_top{
    color: #666;
    margin: 5px 10px;
}

.cnt {
	color: #666;
    font-size: 12px;
}
.btn-outline-secondary {
    font-size: 13px;
}
.basic_txt_color {
    color: #003964;
}