@charset "UTF-8";

img {
	vertical-align: middle;
	border-style: none;
	width: 20px;
	height: 20px;
}

#check_img {
	width: 80px;
	height: 30px;
    margin-right: 20px;
}

#first_info {
	font-size: 12px;
	color: slategrey;
}
.data-period {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 52px 14px;
    background-color: #f7f7f7;
    font-size: 14px;
    border-radius: 8px;
    width: 100%;
}
#dataperiod {
	font-size: 13px;
    color: gray;
    margin-left: 10px;
    margin-bottom: 3px;
}
.input-date {
	width: 157px;
    height: 45px;
    border-radius: 8px;
    margin: 0 10px;
    padding: 3px 20px 0 20px;
    border: 1px solid #e8e8e8;
}

#result, #resultXml, #result3, #result4  {
    padding: 10px;
	white-space: pre;
	font-size: 13px;
} 

#result_img {
	position: relative;
	width: 80px;
	height: 30px;
	
}

#resetImg{
    position: relative;
    top: 11px;
    right: 3px;
    height: 10px;
    width: 19px;
}

.card {
	overflow-x: scroll;
	-ms-overflow-style: none;
}
.card::-webkit-scrollbar {
	display: none;
}
.card-body {
	font-size: 14px;
}
.search {
    text-align: center;
    margin-bottom: 50px;
}

.search-form {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 18px;
}

.card_combo {
	display: flex;
    flex-direction: row;
}




.card_left {
	width: 47%;
	border-right: 1.5px dotted #bdc3c8;
    padding-right: 5px;
    height: 78vh;
}

.reset-group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}
.reset-btn {
	font-size:13px;
	text-align: left;
    width: 75px;
    position: relative;
    left: 19px;

}
.card_check .output_btns {	
    margin-top: 30px;
    text-align: right;
    margin-right: 43px;

}
.first_card {
	margin-bottom: 130px;
}




.card_right{
	width:53%;
	padding-left: 20px;
}
.table_info {
	width: 100%;
}
.table_info tr, th, td{
	border: 1px solid #e9ebf0;
    padding-left: 10px;
    line-height: 30px;
}
.table_info th {
	background-color: #f8f9fd;
}


.card_title {
	font-size: 16px;
}

.card_check {
	margin-bottom: 20px;
}


.box {
    height: 640px;
    display: block;
    margin-top: 20px;
    border: 1px solid #e9ebf0;
	display: none;
}

.card_info {
	display: none;
}

#dataExpl {
	font-size: 10px;
	color: #6495ed;
}


