@charset "UTF-8";
.survey_top {
    margin:22px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.survey_id {
    border-radius: 25px;
    background-color: #053863ab;
    color: white;
    padding: 12px;
}
.survey_title{
    margin-left: 16px;
    font-size: 26px;
    font-weight: bold;
}
.survey_title_input{
    margin-left:15px;
    font-size: 29px;
    width: 75%;
}
.survey_content {
	margin-top : 10px;
}
.question-set {
    margin-bottom:43px;
}
.question{
    font-size:20px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.surveyqn-img {
    width: 35px;
    margin-right:10px;
}
.serveyqn-select {
    width:40%;
    font-size: 20px;
}
.surveyqn-inputbox{
    font-size: 20px;
    margin-left: 5px;
    width: 150%;
    height: 28px;
}
.answer{
    font-size:15px;
}
.answer-item {
    margin-right: 5px;
    margin-left: 22px;
}
.buttons{
    text-align: center;
}
.button-item {
    background-color: #003964;
    border: none;
    width: 100px;
    height: 45px;
    border-radius: 8px;
    color: #fff;
    margin-left: 7px;
    margin-right: 7px;
}